<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.2.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
    <!-- polymorphism -->
    <!--<context:component-scan base-package="polymorphism"></context:component-scan>-->

    <!--<bean id="tv" class="polymorphism.LgTV"></bean>-->
    <!--<bean id="sony" class="polymorphism.SonySpeaker"></bean>-->
    <!-- //polymorphism -->

    <!-- biz -->
    <context:component-scan base-package="biz"></context:component-scan>

    <bean id="log" class="biz.common.Log4jAdvice"></bean>

    <bean id="before" class="biz.common.BeforeAdvice"/>
    <bean id="after" class="biz.common.AfterReturningAdvice"/>
    <bean id="afterThrowing" class="biz.common.AfterThrowingAdvice"/>


    <aop:config>
        <!-- 리턴타입과 매개변수를 무시하고 biz 패키지를 시작하는 클래스 중 이름이 Impl로 끝나는 클래스의 모든 메서드를 포인트컷 타겟으로 설정 -->
        <aop:pointcut id="allPointcut" expression="execution(* biz..*Impl.*(..))"/>
        <!-- 위와 같지만 그 중에서도 get으로 시작하는 메서드만 설정 -->
        <aop:pointcut id="getPointcut" expression="execution(* biz..*Impl.get*(..))"/>

        <!-- after advice throwing-->
        <aop:aspect ref="afterThrowing">
            <aop:after-throwing method="exceptionLog" pointcut-ref="allPointcut"/>
        </aop:aspect>

        <!-- after advice return-->
        <!--<aop:aspect ref="after">-->
            <!--<aop:after-returning method="afterLog" pointcut-ref="getPointcut"/>-->
        <!--</aop:aspect>-->

        <!-- before advice -->
        <!--<aop:aspect ref="before">-->
            <!--<aop:before method="beforeLog" pointcut-ref="allPointcut"/>-->
        <!--</aop:aspect>-->

        <!--<aop:aspect ref="log">-->
            <!--<aop:before method="printLogging" pointcut-ref="allPointcut"/>-->

        <!--</aop:aspect>-->
    </aop:config>
    <!-- //biz -->
</beans>
