<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 여기 class 속성에 bean으로 등록할 클래스 루트를 입력해야 됨 -->
    <bean id="tv" class="SamsungTV"></bean>
</beans>